.navbarWrapper {
  display: flex;
  flex-flow: column;
  width: 17.5vw;
  height: 100vh;
  border-right: solid #262626 1px;
  padding: 8px 12px 20px 12px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
}
@media only screen and (max-width: 1400px) {
  .navbarWrapper {
    width: 75px;
  }
  .navbarText,
  .logo {
    display: none;
  }
  .logoShrinked {
    display: block;
  }
  .navbarLogo {
    justify-content: center;
  }
}
@media only screen and (min-width: 1400px) {
  .navbarWrapper {
  }
  .logoShrinked {
    display: none;
  }
}
.navbarLogo {
  display: flex;
  position: relative;
  align-items: center;
  flex-grow: 0;
  height: 92px;
  width: 100%;
  padding: 15px 12px 16px 9px;
}
.navbarProfilePic {
  border-radius: 50%;
}
.navLinks {
  display: flex;
  flex-flow: column;
  font-weight: 300;
  gap: 12px;
}
.navLinks > * {
  padding: 0 12px 0 12px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.navLink {
  height: 46px;
  border-radius: 8px;
}
.navLink:hover {
  transition: all 0.12s ease-in-out;
  background-color: #1a1a1a;
}
.navLink:not(:hover) {
  transition: all 0.12s ease-in-out;
  background-color: none;
}
.navLinkMore {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: auto;
  gap: 16px;
  padding: 12px;
}
.navbarText {
  text-decoration: none;
  color: white;
}
.logoLink {
  width: 50%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
